---
author: Frontend Team
ourTeam: My Team
---

{% from 'macros/lazyimages.html' import lazyimages %} {% extends
'layouts/application.html' %}{% block bodyClass %}class="page-internal"{%
endblock %} {% block content %}
<main id="main-content" class="main-content">
  <div class="container">
    <h1 class="text-dark font-jost">Headline style h1</h1>
    <h2>Headline style h2</h2>
    <h3>Headline <a href="#">style H3</a></h3>
    <h4>Headline style H4</h4>
    <h5>Headline style H5</h5>
    <h6>Headline style H6</h6>
    <ul>
      <li>
        provide specific training a certifications to tower
        <a href="#">climbers and maners in the field</a>
      </li>
      <li>provide specific training and certifications to to</li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>provide specific training and certrs and managers in the field</li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
    </ul>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries
    </p>
    <ol>
      <li>
        provide specific training and certifications to tower
        <a href="#">climbers and managers in the field</a>
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certificat limbers and managers in the
        field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
    </ol>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries
    </p>
    <p>
      <img
        data-src="assets/images/ajax-loader.svg"
        alt=""
        class="lazy img-svg"
      />
    </p>
    <div class="col-sm col-md col-lg col-sl col-xl"></div>
    <div class="bg-primary text-white p-3">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries
      </p>
      <h2 class="h1">{{ author }} {{ ourTeam }}</h2>
      <h2>Headline style H2</h2>
      <h3>Headline style H3</h3>
      <h4>Headline <a href="#">style H4</a></h4>
      <h5>Headline style H5</h5>
      <h6>Headline style H6</h6>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries
      </p>
      <ul>
        <li>
          provide specific training and certifications to tower
          <a href="#">climbers and managers in the field</a>
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
      </ul>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries
      </p>
      <ol>
        <li>
          provide specific training and certifications to tower
          <a href="#">climbers and managers in the field</a>
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
        <li>
          provide specific training and certifications to tower climbers and
          managers in the field
        </li>
      </ol>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries
      </p>
    </div>
  </div>
  {% include 'modules/mod-slider.html' %}

  <div class="container">
    <div class="row fix-height text-white">
      <div class="col-md-4">
        <div class="item bg-primary height-item p-3 last-mb-none">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item bg-primary height-item p-3 last-mb-none">
          <p>
            Lorem Ipsum is simply dummy text of
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item bg-primary height-item p-3 last-mb-none">
          <p>
            Lorem Ipsum is simply dummy text of the printing and
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item bg-primary height-item p-3 last-mb-none">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy Lorem
            Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy
          </p>
        </div>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="social">
      {% include "modules/global/social.html" %}
    </div>

    <p>
      <a href="#" class="text-decoration-none btn btn-primary"
        >Default Large CTA</a
      >
    </p>
    <p>
      <a href="#" class="text-decoration-none btn btn-outline-primary"
        >Default Large CTA</a
      >
    </p>
    <br />
    <h3>Custom select js</h3>
    {% include "modules/select-c8.html" %}
    <div class="row">
      <div class="col-md-6 form-ani">
        <div class="form-group">
          <label for="default-tex1">Field Title</label>
          <input
            type="text"
            class="form-control"
            id="default-tex1"
            placeholder="Default Field"
          />
        </div>
        <div class="form-group form-group-v2">
          <div class="form-inner">
            <label for="default-tex2" class="label-animation">Animation</label>
            <input type="text" id="default-tex2" class="form-control" />
          </div>
        </div>
        <div class="form-group form-group-v2">
          <div class="form-inner">
            <label for="default-tex2" class="label-animation">Animation</label>
            <input
              type="text"
              value="Thien"
              id="default-tex2"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="c-radio form-group">
      <input type="radio" id="radio1" class="c-radio" name="radios3" />
      <label for="radio1"> <span class="box"></span> My Local Location </label>
    </div>
    <div class="c-radio form-group">
      <input type="radio" checked id="radio2" class="c-radio" name="radios3" />
      <label for="radio2"> <span class="box"></span> My Local Location </label>
    </div>
    <div class="space-30"></div>
    {% include "modules/mod-popup.html" %}
    <div class="space-30"></div>
    <img
      data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg"
      src="{{imagesBase64}}"
      alt="name image"
      class="lazy"
    />
    <img
      data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg"
      src="{{imagesBase64}}"
      alt="name image"
      class="lazy"
    />
    <img
      data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg"
      src="{{imagesBase64}}"
      alt="name image"
      class="lazy"
    />
    <img
      data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg"
      src="{{imagesBase64}}"
      alt="name image"
      class="lazy"
    />
    <img
      class="d-none d-md-block lazy"
      data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg"
      src="{{imagesBase64}}"
      alt="name image"
    />
    <img
      class="d-none lazy"
      data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg"
      src="{{imagesBase64}}"
      alt="name image"
    />
  </div>

  <div class="space-50"></div>
</main>
{% endblock %}
