<div  id="footer" class="module p-5 footer text-center bg-black text-white">
  <div class="container footer-top mx-auto pt-10 uppercase font-jost">
    <div class="row lg:flex" >
      <div class="footer-item-col flex flex-col justify-center -mt-15 mx-auto bg-white w-60 h-18 lg:m-0 lg:bg-transparent  lg:mr-13">
        <img alt="TailWind" class="img-svg mx-auto  b-loaded" src="assets/images/logo.svg">
      </div>
      {% for i in [1, 2, 3,4] %}
      <div class="footer-item-col mx-auto w-100 py-3 lg:text-left lg:w-1/6">
        <h5 class="text-xs text-blue-light font-semibold">
          <a href="#">About Us</a>
        </h5>
        <ul class="list-unstyled footer-menu hidden font-normal text-xs leading-6 py-3 lg:block">
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
        </ul>
      </div>
      {%endfor%}
      <div class="footer-item-col py-3 ">
        <h5 class="text-xs text-blue-light font-semibold">
          <a href="#">CONTACT </a>
          <span class="ml-8 hidden">LOGN in</span>
        </h5>
        <div class="social lg:block pt-3">
          {% include "modules/global/social.html" %}
        </div>
        <div>
          <button class="bg-transparent text-blue-light hover:outline-none min-w-max focus:outline-none font-bold hover:bg-blue hover:text-white border border-blue-light py-2 px-8  mt-5 outline-none focus:shadow-outline">
            TAKE A TOUR</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container bg-black text-center text-white last-mb-none py-5 px-5 mx-auto max-w-full" >
    <p class="footer-copyright">
      Copyright © 2018-2021 9thWonder |
      <a href="#">Private Policy</a> |
      <a href="#">Disclaimer</a>
    </p>
  </div>
</footer>
